@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 100%;
}


body {

}

#container {
	width: 100%;
	height: 100%;
	display: table;
}

#header, #map {
	display: table-row;	
	width: 100%;
}




body.on #header:hover {
	height: 300px;
}

#header .linha {
	margin-top: -50px;
}

#header .datetime {
	opacity: 0;
}

body.on #header .datetime {
	opacity: 1;
}

body.on #header .linha {
	margin-top: 0;
}






#header {
	position: relative;
	background-color: #000;
	height: 50px;
	overflow: hidden;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

}



#header .city, #header .linha, #header .datetime {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	height: 200%;
}




#menu_detail .city, #menu_detail .linha {
	position: relative;
}

.city .nome_projeto, .city .sobre_projeto, .linha .numero, .linha .troca {
	display: block;
	height: 50px;
}

#header:hover .city, #header:hover .linha {
	margin-top: -50px !important;
}

.linha .numero {
	text-align: center;
}





#header #menu {
	display: table-cell;
	position: relative;
	background-color: #ededed;
}

#menu_detail {

	width: 100%;
	position: absolute;
	top: 0;
	height: 50px;
	background-color: #fff;

	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	overflow: hidden;

}


.white, .white a {
  color: #fff;
}


#menu_detail .datetime {
	color: #fff;
	background-color: #008a00;
	float: right;
}
#menu_detail .linha {
	color: #fff;
	background-color: #009d9d;
	float: right;
}
#menu_detail div {
	display: inline-table;
	padding: .1em 1em;
	height: 100%;
}

/*
*/


#menu_select {
	width: 100%;
	position: absolute;
	top: 50px;
	height: 250px;
	padding: 30px;
	background-color: #009d9d;
	color: #fff;
}



#menu_select .name_linha {
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: block;
}

#menu_select .sentidos {
	display: table;
	width: 100%;
}

#menu_select .sentidos ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu_select .sentidos .sentido_item {
	display: table-cell;
}

#menu_select .sentidos .item {
	line-height: 2em;
}

#menu_select .sentidos .spark {
	margin-top: 20px;
}


.sentido_item .name {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3em;
	margin-bottom: 20px;
}







#map {
	position: relative;
}



#map-canvas {
	width: 100%;
	height: 100%;
}

#fork {
	position: relative;
	margin-left: auto;
	margin-bottom: -150px;
	display: block;
	z-index: 10;
	width: 150px;
	height: 150px;
}












.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc !important;
  -webkit-border-radius: 8px !important;
     -moz-border-radius: 8px !important;
          border-radius: 8px !important;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 522px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
